body {
    height: 100%;
    width: 100%;
    background-color: transparent !important;
  }

html { 
    background: url(https://cdn.glitch.com/0dec22c8-18a3-4302-b857-8444ec36e6ff%2FForest_Image.jpeg?v=1630194513465) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

button, select {
    box-shadow: none !important;
  }

.btn-outline-success, .btn-outline-warning {
    color: #fff !important;
    border-color: #fff !important;
}

#stopWatch {
  font: sans-serif;
  color: #fff;
  font-size: 7rem;
}

#timeSelect {
  margin-top: 4rem;
}