body {
    height: 100%;
    width: 100%;
    background-color: transparent !important;
  }

html { 
    background: url(./assets/Forest_Image.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

.btn-group {
  background: rgba(8, 212, 69, 0.1) !important;
}
button, select {
    box-shadow: none !important;
  }

.btn-outline-success, .btn-outline-warning {
    color: #fff !important;
    border-color: #fff !important;
}

#stopWatch {
  font: sans-serif;
  color: #fff;
  font-size: 7rem;
}

#timeSelect {
  margin-top: 4rem;
}

.form-select {
  line-height: 1.7 !important;
}

.btn.btn-outline-success.active.focus,
.btn.btn-outline-success.active:focus,
.btn.btn-outline-success.active:hover,
.btn.btn-outline-success:active.focus,
.btn.btn-outline-success:active:focus,
.btn.btn-outline-success:active:hover {
  color: #fff;
  background-color: rgba(7, 192, 62, 0.4) !important;
  border-color: rgba(7, 192, 62, 0.4) !important;
  outline: none;
  box-shadow: none;
}

.btn.btn-outline-success.focus,
.btn.btn-outline-success:focus {
  color: #fff;
  background-color: rgba(7, 192, 62, 0.4) !important;
  border-color: rgba(7, 192, 62, 0.4) !important;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-success:hover {
  color: #fff;
  background-color: rgba(7, 192, 62, 0.4) !important;
  border-color: rgba(7, 192, 62, 0.4) !important;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-success.active,
.btn.btn-outline-success:active {
  color: #fff;
  background-color: rgba(7, 192, 62, 0.4) !important;
  border-color: rgba(7, 192, 62, 0.4) !important; 
  outline: none;
}

.btn.btn-outline-warning.active.focus,
.btn.btn-outline-warning.active:focus,
.btn.btn-outline-warning.active:hover,
.btn.btn-outline-warning:active.focus,
.btn.btn-outline-warning:active:focus,
.btn.btn-outline-warning:active:hover {
  color: #fff;
  background-color: rgba(252,202,70, 0.4) !important;
  border-color: rgba(252,202,70, 0.4) !important;
  outline: none;
  box-shadow: none;
}

.btn.btn-outline-warning.focus,
.btn.btn-outline-warning:focus {
  color: #fff;
  background-color: rgba(252,202,70, 0.4) !important;
  border-color: rgba(252,202,70, 0.4) !important;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-warning:hover {
  color: #fff;
  background-color: rgba(252,202,70, 0.4) !important;
  border-color: rgba(252,202,70, 0.4) !important;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-warning.active,
.btn.btn-outline-warning:active {
  color: #fff;
  background-color: rgba(252,202,70, 0.4) !important;
  border-color: rgba(252,202,70, 0.4) !important;
  outline: none;
}

@media only screen and (max-width: 768px) {
  #stopWatch {
    font-size: 4rem; 
  }
}