body {
    height: 100%;
    width: 100%;
    background-color: transparent !important;
  }

html { 
    background: url(https://cdn.glitch.com/0dec22c8-18a3-4302-b857-8444ec36e6ff%2FForest_Image.jpeg?v=1630194513465) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

.btn-group {
  background: rgba(8, 212, 69, 0.1) !important;
}
button, select {
    box-shadow: none !important;
  }

.btn-outline-success, .btn-outline-warning {
    color: #fff !important;
    border-color: #fff !important;
}

#stopWatch {
  font: sans-serif;
  color: #fff;
  font-size: 8rem;
}

#timeSelect {
  margin-top: 4rem;
}

.btn.btn-outline-success.active.focus,
.btn.btn-outline-success.active:focus,
.btn.btn-outline-success.active:hover,
.btn.btn-outline-success:active.focus,
.btn.btn-outline-success:active:focus,
.btn.btn-outline-success:active:hover {
  color: #fff;
  background-color: rgba(8, 212, 69, 0.3) !important;
  border-color: rgba(8, 212, 69, 0.3) !important;
  outline: none;
  box-shadow: none;
}

.btn.btn-outline-success.focus,
.btn.btn-outline-success:focus {
  color: #fff;
  background-color: rgba(8, 212, 69, 0.3) !important;
  border-color: rgba(8, 212, 69, 0.3) !important;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-success:hover {
  color: #fff;
  background-color: rgba(8, 212, 69, 0.3) !important;
  border-color: rgba(8, 212, 69, 0.3) !important;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-success.active,
.btn.btn-outline-success:active {
  color: #fff;
  background-color: rgba(8, 212, 69, 0.3) !important;
  border-color: rgba(8, 212, 69, 0.3) !important;
  outline: none;
}

.btn.btn-outline-warning.active.focus,
.btn.btn-outline-warning.active:focus,
.btn.btn-outline-warning.active:hover,
.btn.btn-outline-warning:active.focus,
.btn.btn-outline-warning:active:focus,
.btn.btn-outline-warning:active:hover {
  color: #fff;
  background-color: rgba(247, 234, 51, 0.4) !important;
  border-color: rgba(247, 234, 51, 0.4) !important;
  outline: none;
  box-shadow: none;
}

.btn.btn-outline-warning.focus,
.btn.btn-outline-warning:focus {
  color: #fff;
  background-color: rgba(247, 234, 51, 0.4) !important;
  border-color: rgba(247, 234, 51, 0.4) !important;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-warning:hover {
  color: #fff;
  background-color: rgba(247, 234, 51, 0.4) !important;
  border-color: rgba(247, 234, 51, 0.4) !important;
  outline: none;
  box-shadow: none;
}
.btn.btn-outline-warning.active,
.btn.btn-outline-warning:active {
  color: #fff;
  background-color: rgba(247, 234, 51, 0.4) !important;
  border-color: rgba(247, 234, 51, 0.4) !important;
  outline: none;
}

